@import 'reset';
@import 'theme';
@import 'mixins';
@import 'animations/spin';

@include theme;

html{
  color: theme_var('primary-font-color');
  background: repeat url('../images/background.gif'), linear-gradient(270deg,#1b1429,#140f23);
  background-blend-mode: screen;
}

b {font-weight: 800;}
em{color: theme_var('primary-em-font-color');}

#root {
  .app-inner-load{
    //noinspection CssInvalidPropertyValue
    height: calc( 100vh - theme_var('header-height') - theme_var('footer-height') );
  }

  > main{
    margin-top: theme_var('header-height');

    #route-inner-load{
      display: flex;
      justify-content: center;
      align-items: center;

      //noinspection CssInvalidPropertyValue
      min-height: calc( 100vh - theme_var('footer-height') );
      //noinspection CssInvalidPropertyValue
      margin-top: calc(-1 * theme_var('header-height'));

      .logo{
        height: 20vh;

        .cube[data-cube='1']{
          animation: spin 2s ease-in-out 0s infinite;
        }
      }
    }
  }
}




