@import 'reset';
@import 'theme';
@import 'mixins';
@import 'animations/spin';

@include theme;

html{
  color: theme_var('primary-font-color');
  overflow-x: hidden;
  background: repeat url('../images/background.gif'), linear-gradient(270deg,#1b1429,#140f23);
  background-blend-mode: screen;
}

button, a{cursor: pointer;}
b {font-weight: 800;}
em{color: theme_var('primary-em-font-color');}

#root {
  .app-inner-load{
    //noinspection CssInvalidPropertyValue
    height: calc( 100vh - theme_var('header-height') - theme_var('footer-height') );
  }

  > main{
    z-index: z('site-main');
    margin-top: theme_var('header-height');

    #route-inner-load{
      display: flex;
      justify-content: center;
      align-items: center;

      //noinspection CssInvalidPropertyValue
      min-height: calc( 100vh - theme_var('footer-height') );
      //noinspection CssInvalidPropertyValue
      margin-top: calc(-1 * theme_var('header-height'));

      .logo{
        height: 20vh;

        .cube[data-cube='1']{
          animation: spin 2s ease-in-out 0s infinite;
        }
      }
    }
  }
}

#modal-wrapper{
  position: absolute;
  z-index: z('modal');
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: #4446;
  backdrop-filter: blur(0px);

  &:has( > * ),
  &.active{
    visibility: visible;
    opacity: 1;
    transition: 300ms;
    backdrop-filter: blur(10px);
  }
}


