@import 'reset';
@import 'theme';
@import 'mixins';

@include theme;

html{
  color: theme_var('primary-font-color');
  background: repeat url('../images/background.gif'), linear-gradient(270deg,#1b1429,#140f23);
  background-blend-mode: screen;
}

b {font-weight: 800;}
em{color: theme_var('primary-em-font-color');}

#root {
  .app-inner-load{
    //noinspection CssInvalidPropertyValue
    height: calc( 100vh - theme_var('header-height') - theme_var('footer-height') );
  }

  > main{
    margin-top: theme_var('header-height');
  }
}
